{% extends "layout.html" %}
{% block content %}
<form method="POST" action="{{ url_for('edit', id=editProd.pk_prodID) }}">
    {{ editForm.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="border-bottom m-3">Update a procedure</legend>
        <div class="form-group m-3">
            {{ editForm.formCreatedBy.label(class="form-control-label")}}

            {% if editForm.formCreatedBy.erros %}
                {{ editForm.formCreatedBy(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in editForm.formCreatedBy.erros %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ editForm.formCreatedBy(class="form-control form-control-lg", value=editProd.createdBy) }}
            {% endif %}
        </div>
        <div class="form-group m-3">
            {{ editForm.formDateCreated.label(class="form-control-label") }}

            {% if editForm.formDateCreated.erros %}
                {{ editForm.formDateCreated(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in editForm.formDateCreated.erros %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ editForm.formDateCreated(class="form-control form-control-lg", value=editProd.dateCreated) }}
            {% endif %}
        </div>
        <div class="form-group m-3">
            {{ editForm.formProdName.label(class="form-control-label") }}

            {% if editForm.formProdName.erros %}
                {{ editForm.formProdName(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in editForm.formProdName.erros %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ editForm.formProdName(class="form-control form-control-lg", value=editProd.prodName) }}
            {% endif %}
        </div>
        <div class="form-group m-3">
            {{ editForm.formRequirements.label(class="form-control-label") }}

            {% if editForm.formRequirements.erros %}
                {{ editForm.formRequirements(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in editForm.formRequirements.erros %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                <textarea class="form-control form-control-lg" id="formRequirements" name="formRequirements">{{ editProd.requirements }}</textarea>
            {% endif %}
        </div>
        <div class="form-group m-3">
            {{ editForm.formStatus.label(class="form-control-label") }}

            {% if editForm.formStatus.erros %}
                {{ editForm.formStatus(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in editForm.formStatus.erros %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ editForm.formStatus(class="form-control form-control-lg", value=editProd.status) }}
            {% endif %}
        </div>
        <div class="form-group m-3">
            {{ editForm.formPriority.label(class="form-control-label") }}

            {% if editForm.formPriority.erros %}
                {{ editForm.formPriority(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in editForm.formPriority.erros %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ editForm.formPriority(class="form-control form-control-lg", value=editProd.priority) }}
            {% endif %}
        </div>
        <div class="form-group m-3">
            {{ editForm.formEstTime.label(class="form-control-label") }}

            {% if editForm.formEstTime.erros %}
                {{ editForm.formEstTime(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in editForm.formEstTime.erros %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ editForm.formEstTime(class="form-control form-control-lg", value=editProd.estTimeToComplete) }}
            {% endif %}
        </div>
        <div class="form-group m-3">
            {{ editForm.formVersion.label(class="form-control-label") }}
            {% if editForm.formVersion.erros %}
                {{ editForm.formVersion(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in editForm.formVersion.erros %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ editForm.formVersion(class="form-control form-control-lg", value=editProd.version, placeholder="X.XX") }}
            {% endif %}
        </div>
        <div class="form-group m-3">
            {{ editForm.formApproval.label(class="form-control-label") }}
            {% if editForm.formApproval.erros %}
                {{ editForm.formApproval(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in editForm.formApproval.erros %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ editForm.formApproval() }}
            {% endif %}
        </div>
        <div class="form-group m-3">
            {{ editForm.formNotes.label(class="form-control-label", value=editProd.approval.data) }}

            {% if editForm.formNotes.erros %}
                {{ editForm.formNotes(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in editForm.formNotes.erros %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                <textarea class="form-control form-control-lg" id="formNotes" name="formNotes">{{ editProd.notes }}</textarea>
            {% endif %}
        </div>
    </fieldset>
    <div class="form-group m-3">
            {{ editForm.submit(class="btn btn-outline-info") }}
            {{ editForm.cancel(class="btn btn-outline-danger") }}
    </div>
</form>
{% endblock content %}