{% extends "layout.html" %}
{% block content %}
<form method="POST" action="{{ url_for('new_procedure') }}">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="border-bottom m-3">Create a new procedure</legend>
        <div class="form-group m-3">
            {{ form.formCreatedBy.label(class="form-control-label") }}

            {% if form.formCreatedBy.erros %}
                {{ form.formCreatedBy(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.formCreatedBy.erros %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.formCreatedBy(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group m-3">
            {{ form.formDateCreated.label(class="form-control-label") }}

            {% if form.formDateCreated.erros %}
                {{ form.formDateCreated(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.formDateCreated.erros %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.formDateCreated(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group m-3">
            {{ form.formProdName.label(class="form-control-label") }}

            {% if form.formProdName.erros %}
                {{ form.formProdName(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.formProdName.erros %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.formProdName(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group m-3">
            {{ form.formRequirements.label(class="form-control-label") }}

            {% if form.formRequirements.erros %}
                {{ form.formRequirements(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.formRequirements.erros %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.formRequirements(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group m-3">
            {{ form.formStatus.label(class="form-control-label") }}

            {% if form.formStatus.erros %}
                {{ form.formStatus(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.formStatus.erros %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.formStatus(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group m-3">
            {{ form.formPriority.label(class="form-control-label") }}

            {% if form.formPriority.erros %}
                {{ form.formPriority(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.formPriority.erros %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.formPriority(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group m-3">
            {{ form.formEstTime.label(class="form-control-label") }}

            {% if form.formEstTime.erros %}
                {{ form.formEstTime(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.formEstTime.erros %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.formEstTime(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group m-3">
            {{ form.formVersion.label(class="form-control-label") }}
            {% if form.formVersion.erros %}
                {{ form.formVersion(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.formVersion.erros %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.formVersion(class="form-control form-control-lg", placeholder="X.XX") }}
            {% endif %}
        </div>
        <div class="form-group m-3">
            {{ form.formApproval.label(class="form-control-label") }}
            {% if form.formApproval.erros %}
                {{ form.formApproval(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.formApproval.erros %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.formApproval() }}
            {% endif %}
        </div>
        <div class="form-group m-3">
            {{ form.formNotes.label(class="form-control-label") }}

            {% if form.formNotes.erros %}
                {{ form.formNotes(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.formNotes.erros %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.formNotes(class="form-control form-control-lg") }}
            {% endif %}
        </div>
    </fieldset>
    <div class="form-group m-3">
            {{ form.submit(class="btn btn-outline-info") }}
            {{ form.cancel(class="btn btn-outline-danger") }}
    </div>
</form>
{% endblock content %}