{% extends "_layout.html" %}
{% block content %}

<div class="row" id="back-row">
  <a class="btn btn-primary offset-md-1" style="margin-left: 60px;" href="{{url_for('projects')}}" id="backButtons"> All Projects </a>
</div><br>

<div class="card bg-secondary">
  <div class="card-header">
    <div class="row">
      <h1 id="prod-header" style="padding-left: 35px; font-weight: bold">{{ current_project.name }}</h1>
    </div>
    <div class="row" style="padding-left: 35px;">
      <a href="{{ url_for('dashboard', project_id = current_project.id) }}" style="z-index: 5"><button type="button" class="btn btn-success float-end text-end btn-dark" data-toggle="modal" data-target="" style="font-weight: bold; background-color: rgb(37, 38, 38);" id="#dashbutton">Dashboard</button></a>
      <div class="col-1" style="z-index: 3">
        <div class="dropdown">
          {% if current_project.versions|length==1 %}
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"  aria-haspopup="true" aria-expanded="false" style="background-color: rgb(37, 38, 38); font-weight: bold;">Version {{ current_version_name }}</button>
          {% else %}
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: rgb(37, 38, 38); font-weight: bold;">Version {{ current_version_name }}</button>
          {% endif %}

          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% for version in current_project.versions %}
                {% if version.name != current_version_name %}
                  <a class="dropdown-item" href="{{ url_for('edit_current_version', version_name=version.name, project_id=current_project.id) }}">{{ version.name }}</a>
                {% endif %}
              {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-1" style="padding-left:275px; padding-top: 2.85px; z-index: 0; position: absolute;">
        <a data-toggle="modal" data-target="#exampleModal"> <button class="newVersButton"> + </button></a>
      </div>
    </div>
  </div>
  <div class="card-body bg-dark">
    {% block project_content %}

    {% endblock project_content %}
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content bg-secondary text-white">
          <div class="modal-header">
              <h5  class="modal-title" id="exampleModalLabel">New Version</h5>
          </div>
      <div class="modal-body">
          <form method="POST" action="{{ url_for('new_version', project_id=current_project.id) }}">
              <fieldset class="form-group">
                <input class="form-control form-control-lg" id="version_name" name="version_name" required="" type="text" value="">
              </fieldset>
              <span id="savesave">
              <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Add New Version">
              </span>
              <button type="button" id="savecancel" class="btn btn-danger" data-dismiss="modal">Close</button>
          </form>
      </div>
  </div>
</div>
{% endblock content %}