{% extends "_projectlayout.html" %}
{% block project_content %}

<script src="/static/chartjs/chart.min.js"></script>
<div>
    <div class="border-secondary">
        <div>
            <div class="row border-bottom">
                <div class="col">
                    <div>
                        <h1 id="dashboardHeader"> Version Pass/Fail Ratio </h1>
                        <div class="mb-5" id="dashboardResponse">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>
                <div hidden id="tableCol" class="col">
                    <div style="height:500px; overflow-y: scroll;">
                        <table hidden id="passingTable" class="table table-hover table-striped table-dark procedure-table" style="border-radius: 5px; margin: 0 auto; width: 95%;">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align:center">Passed Steps</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for step in stepsPassing %}
                                <tr id="prod-row">
                                    <td id="prod-name">{{ step.name }} from procedure <a href="{{ url_for('procedure', procedure_id=step.procedure_id) }}">{{ step.procedure.name }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <table hidden id="pendingTable" class="table table-hover table-striped table-dark procedure-table" style="border-radius: 5px; margin: 0 auto; width: 95%;">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align:center">Pending Steps</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for step in stepsPending %}
                                <tr id="prod-row">
                                    <td id="prod-name">{{ step.name }} from procedure <a href="{{ url_for('procedure', procedure_id=step.procedure_id) }}">{{ step.procedure.name }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <table hidden id="failingTable" class="table table-hover table-striped table-dark procedure-table" style="border-radius: 5px; margin: 0 auto; width: 95%;">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align:center">Failed Steps</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for step in stepsFailing %}
                                <tr id="prod-row">
                                    <td id="prod-name">{{ step.name }} from procedure <a href="{{ url_for('procedure', procedure_id=step.procedure_id) }}">{{ step.procedure.name }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div>
                <div class="border-bottom">
                    <h1 id="dashboardHeader"> Progress from Version to Version </h1>
                    <div class="mt-5" id="dashboardResponse">
                        <canvas id="myChart2" width="600px" height="600px" style="padding-bottom: 30px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h1 id="dashboardHeader"> Procedure Pass/Fail Ratio </h1>
            {% if current_project.procedures|length==1 %}
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" aria-haspopup="true"
                aria-expanded="false" style="margin-left: auto; margin-right: auto; display: block;">{{ current_procedure_name }}</button>
            {% else %}
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: auto; margin-right: auto; display: block; margin-top: 30px">{{ current_procedure_name }}</button>
            {% endif %}
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for prod in current_project.procedures %}
                {% if prod.name != current_procedure_name %}
                <a class="dropdown-item"
                    href="{{ url_for('edit_current_procedure', procedure_name=prod.name, project_id=current_project.id) }}">{{
                    prod.name }}</a>
                {% endif %}
                {% endfor %}
            </div>
        <div class="mt-5" id="dashboardResponse">
            <canvas id="myChart3" width="400px" height="500px"></canvas>
        </div>
    </div>
</div>
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Failing', 'Passing', 'Pending'],
            datasets: [{
                label: 'Passing/Failing/Pending Steps',
                data: ['{{passingValues[0]}}', '{{passingValues[1]}}', '{{passingValues[2]}}'], // R, G, O
                backgroundColor: [
                    'rgba(255, 99, 132, 0.3)', //Red
                    'rgba(75, 192, 192, 0.3)', //Green
                    'rgba(255, 159, 64, 0.3)' //Orange
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    gridLines: {
                        drawBorder: false,
                    },
                }]
            },
            onClick: function(event, chartElements){
                if(chartElements){
                    let passingTable = document.getElementById("passingTable");
                    let pendingTable = document.getElementById("pendingTable");
                    let failingTable = document.getElementById("failingTable");
                    let tableCol = document.getElementById("tableCol");
                    console.log(chartElements[0].index);
                    if(chartElements[0].index == 0){
                        tableCol.hidden = false;
                        passingTable.hidden = true;
                        failingTable.hidden = false;
                        pendingTable.hidden = true;
                    }
                    if(chartElements[0].index == 1){
                        tableCol.hidden = false;
                        passingTable.hidden = false;
                        failingTable.hidden = true;
                        pendingTable.hidden = true;
                    }
                    if(chartElements[0].index == 2){
                        tableCol.hidden = false;
                        passingTable.hidden = true;
                        failingTable.hidden = true;
                        pendingTable.hidden = false;
                    }
        }
    },

        }
    });
    const versionList = JSON.parse('{{ versions | tojson }}');
    const percent_passing_list = JSON.parse('{{ percent_passing_list | tojson }}');
    const ctx2 = document.getElementById('myChart2').getContext('2d');
    const myChart2 = new Chart(ctx2, {
        type: 'line',
        data: {
            labels: versionList,
            datasets: [{
                label: '% of Test Steps Passing',
                data: percent_passing_list,
                backgroundColor: [
                    'rgba(75, 192, 192, 0.3)', //Green
                ],
                borderColor: [
                    'rgba(75, 192, 192, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
        }
    });

    chart = new Chart(document.getElementById('myChart3').getContext('2d'), {
        type: 'bar',
        data: {
            labels: ["{{current_procedure_name}}"],
            datasets: [{
                label: 'Failing',
                data: ['{{progressValues[0]}}'],
                backgroundColor: 'rgba(255, 99, 132, 0.3)', //Red
                borderColor: 'rgba(255, 99, 132, 1)'
            },
            {
                label: 'Pending',
                data: ['{{progressValues[2]}}'],
                backgroundColor: 'rgba(255, 159, 64, 0.3)',
                borderColor: 'rgba(255, 159, 64, 1)'
            },
            {
                label: 'Passing',
                data: ['{{progressValues[1]}}'],
                backgroundColor: 'rgba(75, 192, 192, 0.3)',
                borderColor: 'rgba(75, 192, 192, 1)'
            },
            ]
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Example',
                    font: {
                        size: 14
                    }
                },
            },
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                x: {
                    stacked: true,
                },
                y: {
                    stacked: true
                }
            }
        }
    });

    document.getElementById("prod-header").innerHTML = '{{current_project.name}}' + ' - Dashboard';
    let btn = document.createElement("button");
    btn.id = "button-change"
    btn.innerHTML = "Back to Project Overview";
    document.getElementById('back-row').appendChild(btn);
    btn.classList.add('btn', 'btn-primary');
    btn.addEventListener("click", function () {
        window.location.href = "{{ url_for('procedures', project_id=current_project.id)}}";
    });
</script>

{% endblock project_content %}