{% from "_formhelpers.html" import render_field %}
{% extends "_layout.html" %}
{% block content %}
<form method="POST" action="{{ url_for('edit_procedure', procedure_id=edit_procedure.id) }}">
    {{ editForm.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="border-bottom m-3">Update a procedure</legend>
        {{ render_field(editForm.procedure_name, class="form-control form-control-lg", value=edit_procedure.name) }}
        {{ render_field(editForm.notes, class="form-control form-control-lg", value=edit_procedure.notes)}}
    </fieldset>
    <div class="form-group m-3">
            {{ editForm.submit(class="btn btn-outline-info") }}
            <a class="btn btn-outline-danger" href="{{url_for('procedures',project_id=edit_procedure.project_id)}}">Cancel</a>
    </div>
</form>
{% endblock content %}
