{% extends "_layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}

     <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Login Here</legend>
            {{ render_field(form.username, class="form-control form-control-lg") }}
            {{ render_field(form.password, class="form-control form-control-lg") }}
            {{ render_field(form.remember, class="") }}
            {{ form.submit(class='btn btn-primary') }}
        </fieldset>

    </form>

{% endblock content %}