{% extends "_layout.html" %}
{% block content %}

     <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Login Here</legend>
            <div class="form-group">
                {{form.username.label(class="form-control-label") }}
                {{form.username(class="form-control form-control-lg") }}
                </div>
            <div class="form-group">
                {{form.password.label(class="form-control-label") }}
                {{form.password(class="form-control form-control-lg") }}
            </div>
            <div class="form-check">
                {{form.remember.label(class="form-check-label") }}
                {{form.remember(class="form-check-input") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info")}}
        </div>
    </form>

{% endblock content %}