{% from "_formhelpers.html" import render_field %}
{% extends "_layout.html" %}
{% block content %}
<form method="POST" action="{{ url_for('new_step', procedure_id=procedure_id, project_id=project_id) }}">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="border-bottom m-3" style="font-weight: bold; font-size: 35px;">Create a new test step</legend>
        {{ render_field(form.step_name, class="form-control form-control-lg") }}
        {{ render_field(form.instructions, class="form-control form-control-lg")}}
        {{ render_field(form.pass_condition, class="form-control form-control-lg")}}
        {{ render_field(form.is_setup_step)}}
    </fieldset>
    <div class="form-group m-3">
        <span id="savesave">
            {{ form.submit(class="btn btn-outline-info") }}
        </span>
        <a class="btn btn-outline-danger" href="{{url_for('procedure',procedure_id=procedure_id)}}" style="margin-left: 10px" id="savecancel">Cancel</a>
    </div>
</form>
{% endblock content %}