{% extends "layout.html" %}
{% block content %}

<div id="container-fluid">
    <div class="row">
      <div class="col-2">
        <h3 style="white-space: nowrap;">Test Procedures</h3>
      </div>
      <div class="col-10">
        <span class="float-right"><a href="{{ url_for('new_procedure') }}"><button type="button" class="btn btn-success float-end text-end" data-toggle="modal" data-target="">New Procedure</button></a></span>
      </div>
    </div>
</div>

<!-- Button trigger modal -->





<table class="table table-hover table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Date Created</th>
            <th scope="col">Approval</th>
        </tr>
    </thead>
    <tbody>
    {% for procedure in procedures %}
        <tr>
            <th scope="row">{{ procedure.id }}</th>
            <td><a href="{{ url_for('procedure', id=procedure.id) }}">{{ procedure.name }}</a></td>
            <td>{{procedure.date_created.strftime('%B %d, %Y')}}</td>
            {% if procedure.approval %}
                <td> <button style="padding: 1px 1px;pointer-events: none;" type="button" class="btn btn-success">Approved</button> </td>
            {% else %}
                <td> <button style="padding: 1px 1px;pointer-events: none;" type="button" class="btn btn-danger">Not Approved</button> </td>
            {% endif %}
            <td><a href="{{ url_for('edit', id=procedure.id) }}"><img src="../static/img/pencil-square.svg" alt="Edit"></a></td>
            <td>
            <form method="post" action="{{ url_for('delete_procedure', id=procedure.id) }}">
                <input type="image" name="submit" src="../static/img/trash3-fill.svg"></button>
            </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}