{% from "_formhelpers.html" import render_field %}
{% extends "_layout.html" %}
{% block content %}

{% if projects | length == 0 %}
<div class="col-sm-6">
    <div class="card text-white bg-secondary">
        <div class="card-body">
            <h5 class="card-title">Create a new project</h5>
            <p class="card-text">Once you create a new project, you will be able to build, manage, and execute test plans for your application.</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Create a New Project</button>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <button type="button" class="btn btn-primary offset-md-1" data-toggle="modal" data-target="#exampleModal" id="newProjButton"> Create a New Project</button>
</div><br>

<div class="container" id="marginFix">
    <div class="row row-cols-3">
    {% for project in projects %}
    <div class="row">
        <div class="card bg-secondary text-white" style="width: 24rem;">
            <div class="card-body">
                <h5 class="card-title" style="font-weight: bold">{{ project.name }}</h5>
                <h6 class="card-subtitle mb-2 text-grey" style="color: rgba(255,255,255,.75)">Created {{ project.date_created.strftime('%B %d, %Y') }}</h6>
                <p class="card-text" style="color: rgba(128, 219, 242,.75)">{{ project.procedures | length }} Test Procedures</p>
                <p class="card-text" style="color: rgba(128, 219, 242,.75)">{{ project.procedures | map (attribute='steps') | map('length') | sum }} Test Steps</p>
                <div class="row" style="margin-left: -55px;">
                    <a href="{{ url_for('procedures', project_id=project.id) }}" class="col btn btn-primary" id="openProjButton">Open Project</a>

                    <a class="col-2" href="" data-toggle="modal" data-target="#editModal{{project.id}}"><img src="/static/img/pencil-square.svg" alt="Edit"></a>
                    <form style="margin-bottom:5px;" class="col-2" method="post" action="{{ url_for('delete_project', project_id=project.id) }}">
                        <input type="image" name="submit" src="/static/img/trash3-fill.svg"></button>
                    </form>
                </div>
                <form method="post" action="{{ url_for('edit_project', project_id=project.id) }}">
                    <div class="modal fade" id="editModal{{project.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content bg-secondary text-white">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel">Edit Project</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" action="{{ url_for('edit_project', project_id=project.id) }}">
                                        {{ form.hidden_tag() }}
                                        <fieldset class="form-group">
                                            {{ render_field(form.project_name, class="form-control form-control-lg", value=project.name) }}
                                        </fieldset>
                                        {{ form.editSubmit(class="btn btn-primary") }}
                                        <a href="{{ url_for('projects', projects=projects) }}" class="btn btn-danger" data-dismiss="modal">Close</a>            </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endif %}

<!-- Pop Up Modal For Project Creation -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-secondary text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">
            <form method="POST" action="{{ url_for('projects') }}">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    {{ render_field(form.project_name, class="form-control form-control-lg") }}
                    {{ render_field(form.initial_version_name, class="form-control form-control-lg") }}
                </fieldset>
                    {{ form.submit(class="btn btn-primary") }}
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
